body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #2a2929 !important;
    background-color: #d0ecfe !important;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    min-width: 75vw !important;
    margin-top: 50px !important;
}
.multiselect__option--highlight {
    background: #007bff !important;
    color: #fff !important;
}
.multiselect__tag {
    background: #007bff !important;
    color: #fff !important;
}
.cursor-pointer {
    cursor: pointer;
}
.kanban-scroll-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 1rem;
}

.kanban-column {
    width: 300px;
    flex: 0 0 auto;
    min-height: 400px;
}

.kanban-card {
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto
}

.kanban-board .card:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1); }

